<div class="flex items-center gap-4 p-10 rounded-lg mx-auto w-130">
  <img
    [src]="user && user.images && user.images[0] ? user.images[0].url : ''"
    alt="User Image"
    class="w-24 h-24 rounded-full shadow-lg"
  />
  <div class="text-center" *ngIf="user">
    <h1 class="text-5xl font-bold">{{ user.display_name }}</h1>
    <p class="text-gray-400 text-lg font-semibold">
      {{ user.product }}
    </p>
  </div>
  <button (click)="openSpotifyProfile(user.external_urls.spotify)">
    <div
      class="flex items-center gap-2 bg-green-600 hover:bg-green-800 cursor-pointer text-white font-bold py-2 px-4 rounded"
    >
      <i class="fab fa-spotify"></i>
      <span>Ver perfil no Spotify</span>
    </div>
  </button>
</div>

<div class="w-5/6 mx-auto grid grid-cols-1 md:grid-cols-2 gap-6">
  <!-- Top Tracks -->
  <div>
    <div class="flex justify-between items-center mb-4">
      <h2
        class="text-2xl md:text-3xl font-extrabold bg-gradient-to-r from-blue-400 to-purple-600 text-transparent bg-clip-text pb-2 border-b-2 border-blue-500 shadow-md animate-fade-in"
      >
        TOP SONGS
      </h2>
      <select
        [(ngModel)]="topSongsTimeRange"
        (ngModelChange)="updateTopSongs()"
        class="bg-gray-700 text-white border border-gray-600 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
      >
        <option value="short_term">4 semanas</option>
        <option value="medium_term">6 meses</option>
        <option value="long_term">1 ano</option>
      </select>
    </div>
    <ul class="grid grid-cols-3 gap-4">
      <li
        *ngFor="let track of paginatedTopSongs; let i = index"
        class="w-full h-78 bg-gray-800 rounded-lg flex flex-col items-center gap-2 relative"
      >
        <span class="absolute top-1 left-1 text-white font-bold text-lg">
          {{ getTopSongsItemNumber(i) }}
        </span>
        <img
          [src]="track.album.images[0].url"
          class="w-full h-64 rounded-lg object-cover"
        />
        <div class="text-center">
          <p class="text-white font-medium max-w-52 truncate">
            {{ track.name }}
          </p>
          <p class="text-gray-400">
            {{ track.artists[0].name }}
          </p>
        </div>
      </li>
    </ul>
    <p-paginator
      [rows]="topSongsRowsPerPage"
      [totalRecords]="topSongsTotalRecords"
      (onPageChange)="onTopSongsPageChange($event)"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} músicas"
      styleClass="mt-4"
    ></p-paginator>
  </div>

  <!-- Top Artists -->
  <div>
    <div class="flex justify-between items-center mb-4">
      <h2
        class="text-2xl md:text-3xl font-extrabold bg-gradient-to-r from-blue-400 to-purple-600 text-transparent bg-clip-text pb-2 border-b-2 border-blue-500 shadow-md animate-fade-in"
      >
        TOP ARTIST
      </h2>
      <select
        [(ngModel)]="topArtistsTimeRange"
        (ngModelChange)="updateTopArtists()"
        class="bg-gray-700 text-white border border-gray-600 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
      >
        <option value="short_term">4 semanas</option>
        <option value="medium_term">6 meses</option>
        <option value="long_term">1 ano</option>
      </select>
    </div>
    <ul class="grid grid-cols-3 gap-4">
      <li
        *ngFor="let artist of paginatedTopArtists; let i = index"
        class="w-full h-78 bg-gray-800 rounded-lg flex flex-col items-center gap-4 relative"
      >
        <span class="absolute top-1 left-1 text-white font-bold text-lg">
          {{ getTopArtistsItemNumber(i) }}
        </span>
        <img
          [src]="artist.images[0].url"
          class="w-full h-64 rounded-lg object-cover"
        />
        <p class="text-white font-medium truncate">{{ artist.name }}</p>
      </li>
    </ul>
    <p-paginator
      [rows]="topArtistsRowsPerPage"
      [totalRecords]="topArtistsTotalRecords"
      (onPageChange)="onTopArtistsPageChange($event)"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} artistas"
      styleClass="mt-4"
    ></p-paginator>
  </div>
</div>
