.btn-custom {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s;
  cursor: pointer;
  background: transparent; /* Define um fundo inicial para transição suave */
}

.btn-custom:hover {
  background: linear-gradient(to right, #9333ea, #ec4899); /* Equivalente a hover:bg-gradient-to-r hover:from-purple-600 hover:to-pink-500 */
}