<div
  class="max-w-9/10 mx-auto my-4 flex justify-between backdrop-blur-lg bg-black/30 border border-white/10 rounded-2xl px-6 py-4 shadow-lg shadow-purple-500/20 relative z-10"
>
  <!-- Items -->
  <div class="flex items-center gap-4">
    <!-- Logo -->
    <img
      src="/assets/favicon.svg"
      alt="Logo"
      class="w-12 h-12 rounded-full hover:scale-110 transition-transform duration-300"
    />

    <!-- Navigation Buttons -->
    <div class="flex gap-3 text-lg">
      <button class="btn-custom" [routerLink]="'/'">
        <i class="fa fa-house"></i>
        <span class="font-medium">Início</span>
      </button>
      <button class="btn-custom" (click)="goToArtistPageAndGetRandomArtist()">
        <i class="fa fa-shuffle"></i>
        <span class="font-medium">Aleatório</span>
      </button>
      <button class="btn-custom" [routerLink]="'/updates'">
        <i class="fa fa-newspaper"></i>
        <span class="font-medium">Novidades</span>
      </button>
      <button class="btn-custom" [routerLink]="'/history'">
        <i class="fa fa-building"></i>
        <span class="font-medium">História</span>
      </button>
    </div>
  </div>

  <!-- Dropdown Personalizado -->
  <div class="relative w-full max-w-96">
    <div
      class="flex h-12 items-center gap-2 backdrop-blur-lg border-2 border-purple-500/30 rounded-2xl px-4 py-2 cursor-pointer hover:border-pink-500/50"
      (click)="toggleDropdown()"
    >
      <img
        *ngIf="selectArtist"
        [src]="selectArtist.images[2].url || '/assets/default-artist.png'"
        alt="Artista"
        class="w-8 h-8 rounded-full border-2 border-purple-500/50 object-cover"
      />
      <span
        class="text-white font-medium"
        [ngClass]="selectArtist ? '' : 'text-gray-400'"
      >
        {{ selectArtist?.name || "Selecione o Artista" }}
      </span>
      <i
        class="fas fa-chevron-down text-white ml-auto transition-transform duration-300"
        [ngClass]="isDropdownOpen ? 'rotate-180' : ''"
      ></i>
    </div>

    <!-- Dropdown -->
    <div
      *ngIf="isDropdownOpen"
      class="absolute top-12 right-0 w-full bg-black/90 backdrop-blur-lg rounded-2xl border-2 border-purple-500/50 shadow-lg shadow-purple-500/30 z-50 max-h-96 overflow-y-auto animate-slide-down"
    >
      <!-- Campo de Busca -->
      <div class="p-3 sticky z-50 top-0 bg-black/90">
        <input
          type="text"
          [(ngModel)]="searchQuery"
          (ngModelChange)="filterArtists()"
          placeholder="Buscar artista..."
          class="w-full border-b-2 border-purple-500/50 focus:border-pink-500/50 outline-none px-3 py-2"
        />
      </div>

      <!-- Lista de Artistas -->
      <div class="p-3">
        <div
          *ngFor="let artist of filteredArtists; let i = index"
          class="flex items-center gap-3 p-3 rounded-lg hover:bg-gradient-to-r hover:from-purple-600/50 hover:to-pink-600/50 transition-all duration-300 cursor-pointer animate-fade-in"
          (click)="selectArtistAndClose(artist)"
        >
          <img
            [src]="artist?.images?.[2]?.url || '/assets/default-artist.png'"
            alt="Artista"
            class="w-16 h-16 rounded-full border-2 border-pink-500/50 object-cover"
          />
          <div class="text-xl text-white font-medium">{{ artist.name }}</div>
        </div>
        <div
          *ngIf="filteredArtists.length === 0"
          class="text-xl text-center text-gray-400 py-4"
        >
          Nenhum artista encontrado
        </div>
      </div>
    </div>
  </div>
</div>
