<div class="max-w-4/5 mx-auto my-4 flex flex-row items-center justify-between">
  <!-- Items -->
  <div class="flex items-center gap-4">
    <img src="/assets/favicon.svg" alt="Logo" class="w-12 h-12" />
    <div class="flex gap-3 text-lg">
      <button class="btn-custom" [routerLink]="'/'">
        <i class="fa fa-house"></i>
        <span>Início</span>
      </button>
      <button class="btn-custom" (click)="goToArtistPageAndGetRandomArtist()">
        <i class="fa fa-shuffle"></i>
        <span>Aleatório</span>
      </button>
      <button class="btn-custom" [routerLink]="'/updates'">
        <i class="fa fa-newspaper"></i>
        <span>Novidades</span>
      </button>
      <button class="btn-custom" [routerLink]="'/history'">
        <i class="fa fa-building"></i>
        <span>História</span>
      </button>
    </div>
  </div>

  <!-- Search -->
  <p-select
    [options]="allArtists"
    [(ngModel)]="selectArtist"
    optionLabel="name"
    [filter]="true"
    filterBy="name"
    size="large"
    [showClear]="true"
    placeholder="Selecione o Artista"
    styleClass="w-full md:w-96 rounded-2xl"
    (onChange)="onArtistSelect()"
  >
    <ng-template #selectedItem let-selectArtist>
      <div class="flex items-center gap-2">
        <img
          [src]="selectArtist?.images?.[2]?.url || '/assets/default-artist.png'"
          alt="Logo"
          class="w-7 h-7 rounded-border"
        />
        <div>{{ selectArtist.name }}</div>
      </div>
    </ng-template>
    <ng-template let-artist #item>
      <div class="flex items-center gap-3">
        <img
          [src]="artist?.images?.[2]?.url || '/assets/default-artist.png'"
          alt="Logo"
          class="w-22 h-22 rounded-lg"
        />
        <div class="text-2xl">{{ artist.name }}</div>
      </div>
    </ng-template>
  </p-select>
</div>
