<!-- Members -->
<h1 class="text-6xl font-extrabold text-center text-white mt-10 mb-6">
  <span
    class="bg-gradient-to-r from-blue-400 to-purple-600 text-transparent bg-clip-text"
  >
    🎶 Integrantes
  </span>
</h1>
<p-carousel
  styleClass="w-382 mx-auto my-20"
  [value]="members || []"
  [numVisible]="2"
  [numScroll]="1"
  [circular]="true"
>
  <ng-template let-member #item>
    <div class="flex items-center gap-5 mb-5">
      <!-- Verifica se a imagem do membro é nula -->
      <ng-container *ngIf="member.image; else comingSoon">
        <img
          [src]="member.image"
          [alt]="member.name"
          class="object-cover w-[360px] h-[540px] rounded-3xl"
        />
      </ng-container>
      <!-- Exibe a imagem alternativa se a imagem do membro for nula -->
      <ng-template #comingSoon>
        <img
          src="assets/coming-soon.jpg"
          alt="Coming Soon"
          class="object-cover w-xs min-w-xs min-h-120 max-h-120 rounded-3xl"
        />
      </ng-template>

      <!-- Informações -->
      <div class="text-white flex flex-col w-80 justify-center items-start">
        <h2
          class="text-5xl pb-4 font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-purple-400 to-blue-500 drop-shadow-xl hover:scale-105 transform transition-all duration-300 ease-in-out"
        >
          {{ member.name }}
        </h2>
        <p
          class="text-gray-300 text-lg mt-4 leading-relaxed hover:text-blue-300 transition-colors duration-300"
        >
          <span class="font-semibold text-white block"
            >Nome de Nascimento:</span
          >
          {{ member.birthName }}
        </p>
        <p
          class="text-gray-300 text-lg mt-2 leading-relaxed hover:text-blue-300 transition-colors duration-300"
        >
          <span class="font-semibold text-white block"
            >Data de Nascimento:</span
          >
          {{ member.birthDate | date : "dd-MM-yyyy" }}
        </p>
        <p
          class="text-gray-300 text-lg mt-2 leading-relaxed hover:text-blue-300 transition-colors duration-300"
        >
          <span class="font-semibold text-white block">Nacionalidade:</span>
          {{ member.nationality }}
        </p>
        <p
          class="text-gray-300 text-lg mt-2 leading-relaxed hover:text-blue-300 transition-colors duration-300"
        >
          <span class="font-semibold text-white block">Posição:</span>
          {{ member.position }}
        </p>
      </div>
    </div>
  </ng-template>
</p-carousel>
