<!-- Footer -->
<footer class="bg-gray-900 text-white py-7 w-full mt-8">
  <div class="container mx-auto px-6 lg:px-20">
    <div class="grid grid-cols-1 md:grid-cols-3 mx-auto gap-4">
      <!-- 🌟 Sobre Nós -->
      <div>
        <h3 class="text-lg font-semibold">Sobre Mim</h3>
        <p class="text-sm mt-2 text-gray-400 max-w-sm">
          Sou um desenvolvedor que gosta de unir hobbies com ideias e com isso
          posso me divertir enquanto aprendo.
        </p>
      </div>

      <!-- 🔗 Links Rápidos -->
      <div>
        <h3 class="text-lg font-semibold">Links Rápidos</h3>
        <div class="mt-2 space-y-2 flex flex-col">
          <a href="#" class="text-gray-400 hover:text-white">Início</a>
          <a href="#" class="text-gray-400 hover:text-white">Serviços</a>
        </div>
      </div>

      <!-- 📞 Contato -->
      <div>
        <h3 class="text-lg font-semibold">Contato</h3>
        <div class="flex gap-4 mt-4">
          <a
            href="https://www.linkedin.com/in/wilson-and/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-gray-400 text-2xl hover:text-white"
          >
            <i class="fa-brands fa-linkedin"></i>
          </a>

          <a
            href="mailto:wilsonsouza.dev@gmail.com"
            class="text-gray-400 text-2xl hover:text-white"
          >
            <i class="fa fa-envelope"></i>
          </a>

          <a
            href="https://discord.com/channels/@me/1189662641073950803"
            target="_blank"
            rel="noopener noreferrer"
            class="text-gray-400 text-2xl hover:text-white"
          >
            <i class="fa-brands fa-discord"></i>
          </a>
        </div>
      </div>
    </div>

    <hr class="my-6 border-t border-gray-300" />

    <!-- 📌 Direitos Autorais -->
    <div class="text-center text-gray-300 text-sm">
      &copy; {{ currentYear }} Todos os direitos reservados.
    </div>
  </div>
</footer>
