<div class="w-4/5 mx-auto items-center grid text-800 my-15 p-2">
  <div class="md:col-4">
    <section class="flex flex-col h-full">
      <span class="block text-6xl font-bold mb-1">
        {{ artistResume.name }}
      </span>

      <!-- Se artistResume ainda não estiver carregado, exibe o skeleton -->
      <ng-template #skeletonName>
        <p-skeleton width="60%" height="40px"></p-skeleton>
      </ng-template>

      <!-- Verifica se os dados do artista estão carregados -->
      <div>
        <div class="text-4xl text-primary font-bold mb-3">
          {{ artistResume.label }}
        </div>
        <div class="mt-0 mb-4 w-3/4 text-800 text-justify">
          {{ artistResume.biography }}
        </div>
      </div>

      <div class="mt-auto">
        <button
          pButton
          pRipple
          label="Spotify"
          icon="fa-brands fa-spotify"
          type="button"
          class="mr-3 p-button-outlined"
        ></button>
        <button
          pButton
          pRipple
          label="Youtube"
          type="button"
          icon="fa-brands fa-youtube"
          class="mr-3 p-button-outlined"
        ></button>
        <button
          pButton
          pRipple
          label="Instagram"
          type="button"
          icon="fa-brands fa-instagram"
          class="mr-3 p-button-outlined"
        ></button>
        <button
          pButton
          pRipple
          label="Twitter"
          type="button"
          icon="fa-brands fa-twitter"
          class="mr-3 p-button-outlined"
        ></button>
      </div>
    </section>
  </div>

  <div class="col-12 md:col-6">
    <img
      [src]="artist != null ? artist.images[0].url : 'assets/no-image.jpg'"
      alt="Image"
      class="max-w-lg max-h-lg rounded-e-xl fade-in"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
    />
  </div>
</div>

<!-- Members -->
<h1 class="text-6xl font-extrabold text-center text-white mt-10 mb-6">
  <span
    class="bg-gradient-to-r from-blue-400 to-purple-600 text-transparent bg-clip-text"
  >
    🎶 Integrantes
  </span>
</h1>
<p-carousel
  styleClass="w-3/4 mx-auto my-20"
  [value]="artistResume.members || []"
  [numVisible]="2"
  [numScroll]="1"
  [circular]="true"
>
  <ng-template let-member #item>
    <div class="flex items-center gap-5">
      <!-- Verifica se a imagem do membro é nula -->
      <ng-container *ngIf="member.image; else comingSoon">
        <img
          [src]="member.image"
          [alt]="member.name"
          class="object-cover w-xs min-w-xs min-h-120 max-h-120 rounded-3xl"
        />
      </ng-container>
      <!-- Exibe a imagem alternativa se a imagem do membro for nula -->
      <ng-template #comingSoon>
        <img
          src="assets/coming-soon.jpg"
          alt="Coming Soon"
          class="object-cover w-xs min-w-xs min-h-120 max-h-120 rounded-3xl"
        />
      </ng-template>

      <!-- Informações -->
      <div class="text-white">
        <h2
          class="text-3xl font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-purple-400 to-blue-500 drop-shadow-xl hover:scale-105 transform transition-all duration-300 ease-in-out"
        >
          {{ member.name }}
        </h2>
        <p
          class="text-gray-300 text-lg mt-4 leading-relaxed hover:text-blue-300 transition-colors duration-300"
        >
          <span class="font-semibold text-white block"
            >Nome de Nascimento:</span
          >
          {{ member.birthName }}
        </p>
        <p
          class="text-gray-300 text-lg mt-2 leading-relaxed hover:text-blue-300 transition-colors duration-300"
        >
          <span class="font-semibold text-white block"
            >Data de Nascimento:</span
          >
          {{ member.birthDate | date : "dd-MM-yyyy" }}
        </p>
        <p
          class="text-gray-300 text-lg mt-2 leading-relaxed hover:text-blue-300 transition-colors duration-300"
        >
          <span class="font-semibold text-white block">Nacionalidade:</span>
          {{ member.nationality }}
        </p>
        <p
          class="text-gray-300 text-lg mt-2 leading-relaxed hover:text-blue-300 transition-colors duration-300"
        >
          <span class="font-semibold text-white block">Posição:</span>
          {{ member.position }}
        </p>
      </div>
    </div>
  </ng-template>
</p-carousel>

<!-- Álbuns -->
<h1 class="text-6xl font-extrabold text-center">
  <span
    class="bg-gradient-to-r from-blue-400 to-purple-600 text-transparent bg-clip-text"
  >
    🎶 Albums
  </span>
</h1>
<p-carousel
  styleClass="w-4/5 mx-auto my-10"
  [value]="albums"
  [numVisible]="3"
  [numScroll]="2"
  [circular]="true"
>
  <ng-template #item let-album>
    <div class="flex flex-col items-center text-center relative p-3">
      <div class="justify-center rounded">
        <img
          class="rounded-xl w-full cursor-pointer"
          [src]="album.images[0].url"
          [alt]="album.name"
          style="max-width: 450px"
          (click)="openAlbumDialog(album)"
        />
      </div>
      <ng-container *ngIf="album.name.length > 40; else normalFont">
        <div class="mt-2 text-lg font-semibold max-w-3xs truncate">
          {{ album.name }}
        </div>
      </ng-container>

      <ng-template #normalFont>
        <div class="mt-2 text-lg font-semibold">
          {{ album.name }}
        </div>
      </ng-template>

      <div class="text-gray-400 mt-1 flex justify-center gap-2">
        <div>📅 {{ album.release_date | date : "dd-MM-yyyy" }}</div>
        <div>🎵 {{ album.total_tracks }} músicas</div>
      </div>

      <app-standard-button
        [label]="'Spotify'"
        [color]="'success'"
        [icon]="'fab fa-spotify'"
        (onClick)="openSpotify(album.external_urls.spotify)"
        class="mt-2"
      ></app-standard-button>
    </div>
  </ng-template>
</p-carousel>
<app-artist-videos [id]="id"></app-artist-videos>
<app-album-dialog></app-album-dialog>
