<!-- Álbuns -->
<h1 class="text-6xl font-extrabold text-center">
  <span
    class="bg-gradient-to-r from-blue-400 to-purple-600 text-transparent bg-clip-text"
  >
    🎶 Albums
  </span>
</h1>
<p-carousel
  styleClass="w-4/5 mx-auto my-10"
  [value]="albums"
  [numVisible]="3"
  [numScroll]="2"
  [circular]="true"
>
  <ng-template #item let-album>
    <div class="flex flex-col items-center text-center relative p-3">
      <div class="justify-center rounded">
        <img
          class="rounded-xl w-full cursor-pointer"
          [src]="album.images[0].url"
          [alt]="album.name"
          style="max-width: 450px"
          (click)="openAlbumDialog(album)"
        />
      </div>
      <ng-container *ngIf="album.name.length > 40; else normalFont">
        <div class="mt-2 text-lg font-semibold max-w-3xs truncate">
          {{ album.name }}
        </div>
      </ng-container>

      <ng-template #normalFont>
        <div class="mt-2 text-lg font-semibold">
          {{ album.name }}
        </div>
      </ng-template>

      <div class="text-gray-400 mt-1 flex justify-center gap-2">
        <div>📅 {{ album.release_date | date : "dd-MM-yyyy" }}</div>
        <div>🎵 {{ album.total_tracks }} músicas</div>
      </div>

      <app-standard-button
        [label]="'Spotify'"
        [color]="'success'"
        [icon]="'fab fa-spotify'"
        (onClick)="openSpotify(album.external_urls.spotify)"
        class="mt-2"
      ></app-standard-button>
    </div>
  </ng-template>
</p-carousel>
<app-album-dialog></app-album-dialog>
