<div
  class="flex flex-col items-center justify-center min-h-screen text-white p-4"
>
  <h1 class="text-5xl font-bold mb-4">😢 Artista não encontrado</h1>
  <p class="text-lg text-gray-300 mb-8 text-center">
    O artista que você está tentando acessar não existe ou foi removido.
  </p>
  <a
    [routerLink]="'/'"
    class="bg-pink-600 cursor-pointer hover:bg-pink-700 text-white font-semibold py-3 px-6 rounded-2xl transition-all duration-300 shadow-lg"
  >
    Voltar para a página inicial
  </a>
</div>
